h1, h2 {
    color : grey
}
/* Ini artinya buat h1 dan h2 dengan atribut color grey */

h3{
    font-size: 150%;
    color: indigo;
}

ol li a {
    color: red;
}
/* Ini artinya buat "a" yang di dalam "li" yang di dalam "ol" menjadi atribut color red */

ul li a {
    color: green;
}
/* Ini artinya buat "a" yang di dalam "li" yang di dalam "ul" menjadi atribut color green */

#id1 {
    color: red;
}
/* Untuk id yang bernama "id1" berikan warna merah (untuk id harus menggunakan tanda pagar pada awalnya)*/



/* Coba dimengerti konsep class, bisa lihat pada file "html.html" di Coding5 line 32-34 */
.class1 {
    color: blue;
    text-decoration: line-through;
}

h1.class1{
    color:green
}
/* ^^ ini di spesifikin, untuk kelas yang menggunkan class1, dan berjenis h1, berikan warna green */
