body {
    background-color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

h1 {
    font-family: monospace;
    color: darkgray;
    font-size: 200%;
    
}



